{% extends "base.htm" %}
{% block head %}{% end %}
{% block body %}
<div class="videoClass">
    <div class="from"> <a target="_blank" href="{{ domain }}">首页</a> &gt;&gt; <a target="_blank" href="{{ urlpre }}">{{ keyword }}</a> &gt;&gt; </div>
</div>
<div class="left list">
    <div class="box">
        <div class="channel"> {{ keyword }} </div>
        <div class="block10"> </div>
        {% set ci = 0 %}
        {% for v in data['data'] %}
        {% set ci = ci + 1 %}
        <div class="item">
            <div class="pic"> <a class="inner" target="_blank" title="{{ v['title'] }}" href="{{ domain }}v/{{ v['id'] }}.htm"> <img height="96" width="128" alt="{{ v['title'] }}" src="{{ v['cover'] }}" /></a></div>
            <div class="txt">
                <h6 class="caption"> <a target="_blank" title="{{ v['title'] }}" href="{{ domain }}v/{{ v['id'] }}.htm">{{ v['showtitle'] }}</a></h6>
                <ul>
                </ul>
            </div>
        </div>
        {% if ci % 5 == 0 %}
        <div class="clear"> </div>
        {% end %}                
        {% end %}
        {% if ci % 5 != 0 %}
        <div class="clear"> </div>
        {% end %}
        <div class="block10"> </div>
        <div class="block10"> </div>
        <div id="pager" style="width:100%; text-align:right; font-size:12px;">
            <label style="margin-right:20px;">共{{ data['total'] }}条记录&nbsp;&nbsp;分{{ data['pageTotal'] }}页&nbsp;&nbsp;每页{{ data['size'] }}个节目</label>
            {% if 1 < pageArea[0] %} <a href="{{ urlpre }}" style="margin-right: 12px;" title="转到第一页">第一页</a> {% set pagepre = data['page'] - 1 %} <a href="{{ urlpre }}{{ pagepre }}.htm" style="margin-right: 12px;" title="转到上一页">上一页</a> {% if 2 < pageArea[0] %}
            {% set pagepre = pageArea[0] - 1 %} <a href="{{ urlpre }}{{ pagepre }}.htm" title="转到第{{ pagepre }}页" style="margin-right: 12px;">....</a> {% end %}
            {% else %} <a disabled="disabled" style="margin-right: 12px;">第一页</a> <a disabled="disabled" style="margin-right: 12px;">上一页</a> {% end %}
            {% for i in pageArea %}
            {% if i == data['page'] %}
            <label style="font-weight: Bold;color: red;margin-right:12px;">[&nbsp;{{ i }}&nbsp;]</label>
            {% else %} <a style="margin-right:12px;" title="转到第{{ i }}页" href="{{ urlpre }}{{ i }}.htm">[&nbsp;{{ i }}&nbsp;]</a> {% end %}
            {% end %}
            {% if data['pageTotal'] > pageArea[len(pageArea)-1] and data['pageTotal'] > 0 %}
            {% set next = pageArea[len(pageArea)-1] + 1 %}
            {% if data['pageTotal'] > next %} <a href="{{ urlpre }}{{ next }}.htm" title="转到第{{ next }}页" style="margin-right: 12px;">....</a> {% end %}
            {% set next = data['page'] + 1 %} <a href="{{ urlpre }}{{ next }}.htm" style="margin-right: 12px;" title="转到下一页">下一页</a> <a href="{{ urlpre }}{{ data['pageTotal'] }}.htm" style="margin-right: 12px;" title="转到最末页">最末页</a> {% else %} <a disabled="disabled" style="margin-right: 12px;" title="转到下一页">下一页</a> <a disabled="disabled" style="margin-right: 12px;" title="转到最末页">最末页</a> {% end %} </div>
        <div class="block10"> </div>
    </div>
</div>
<div class="right list_r_ad">
    <div class="block10"> </div>
    <script type="text/javascript"><!--
                google_ad_client = "pub-4704068025965026";
                /* 看车呢_列表页_120x240, 创建于 10-8-2 */
                google_ad_slot = "2022653036";
                google_ad_width = 120;
                google_ad_height = 240;
                google_language = 'zh-CN'; 
//-->
            </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
    <div class="block10"> </div>
    <script type="text/javascript"><!--
                google_ad_client = "pub-4704068025965026";
                /* 看车呢_列表页_120x600, 创建于 10-8-2 */
                google_ad_slot = "0614027538";
                google_ad_width = 120;
                google_ad_height = 600;
                google_language = 'zh-CN'; 
//-->
            </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
</div>
{% end %}
