* {
	margin: 0 auto;
	padding: 0 auto;
}
html {
/*overflow: visible;*/


}
body {
	margin:0;
	background-color: #fefefe;
	text-align:center;
	font-family:Arial, Corbel, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}
a:link, a:visited {
	color: #04d;
	text-decoration: none;
}
a:hover, a:active {
	color: #f50;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal;
}
img {
	border:0 none;
	display:block;
}
ol, ul, li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.block5 {
	height:5px;
	width:100%;
	clear:both;
	border-bottom:1px dashed #ccc;
}
.block5_1 {
	height:5px;
	width:100%;
	clear:both;
}
.block10 {
	height:10px;
	width:100%;
	clear:both;
}
.clear {
	clear:both;
	height:0;
	overflow:hidden;
}
.top {
	width:100%;
	background: url(../images/topbg.gif);
}
.top_t {
	margin:auto;
	overflow: hidden;
	width: 960px;
	height: 68px;
}
.top_t_l {
	padding:3px 3px 3px 3px;
	float: left;
	width:200px;
}
.top_t_r {
	padding-right: 10px;
	float: right;
	width: 650px;
}
.box_gray {
	float: left;
	width: 100%;
	text-align:right;
	margin: 0;
}
.sswf_input {
	border: 1px solid #f88837;
	width: 170px;
	margin-left:7px;
}
.sswf_but {
	border: 0px;
	background: url(../images/flash_sbut.gif);
	font: 12px/21px tahoma;
	width: 85px;
	cursor: pointer;
	color: #fff;
	height: 21px;
}
/* ========== 导航 ====== */


.content {
	margin: auto;
	width: 960px;
}
.content_top {
	overflow:hidden;
	padding:10px 0;
	text-align:right;
	word-spacing:-3px;
}
.content_top em {
	font-style:normal;
}
.content_top em strong {
	margin:0 5px 0 10px;
}
.content_top em a {
	color:#f60;
}
.content_top a {
	color:#000;
}
.content_top a:visited {
	color:#f60;
}
.content_top a:hover {
	color:#f60;
}
/*主导航菜单*/


#menu ul {
	padding:0;
	border:0;
	list-style:none;
	line-height:150%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
}
#menu_out {
	width:966px;
	padding-left:4px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/menu_left.gif) no-repeat left top;
}
#menu_in {
	background:url(../images/menu_right.gif) no-repeat right top;
	padding-right:4px;
}
#menu {
	background:url(../images/menu_bg.gif) repeat-x;
	height:73px;
}
.menu_line {
	background:url(../images/menu_line.gif) no-repeat center top;
	width:8px;
}
.menu_line2 {
	background:url(../images/menu_line2.gif) no-repeat center top;
	width:15px;
}
#nav {
	padding-left:20px;
}
#nav li {
	float:left;
	height:35px;
}
#nav li a {
	float:left;
	display:block;
	padding-left:6px;
	height:35px;
	background:url(../images/menu_on_left.gif) no-repeat left top;
	cursor:pointer;
	text-decoration:none;
}
#nav li a span {
	float:left;
	padding:11px 14px 10px 10px;
	line-height:14px;
	background:url(../images/menu_on_right.gif) no-repeat right top;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}
#nav li .nav_on {   /*鼠标经过时变换背景，方便JS获取样式*/
	background-position:left 100%;
}
#nav li .nav_on span {  /*鼠标经过时变换背景，方便JS获取样式*/
	background-position:right 100%;
	color:#333333;
	text-decoration:none;
	padding:14px 14px 7px 10px;
}
/*子栏目*/


#menu_con {
	text-align:left;
	padding-left:20px;
	clear:both;
}
#menu_con li {
	float:left;
	height:22px;
	margin-top:8px;
}
#menu_con li a {
	display:block;
	float:left;
	background:url(../images/menu_on_left2.gif) no-repeat left top;
	cursor:pointer;
	padding-left:3px;
}
#menu_con li a span {
	float:left;
	padding:6px 10px 4px 10px;
	line-height:12px;
	background:url(../images/menu_on_right2.gif) no-repeat right top;
}
#menu_con li a:hover {
	text-decoration:none;
	background:url(../images/menu_on_left2.gif) no-repeat left bottom;
}
#menu_con li a:hover span {
	background:url(../images/menu_on_right2.gif) no-repeat right bottom;
}
.body {
	width:960px;
	text-align:left;
	margin-top:5px;
	height:auto;
	display:table;
}
.left {
	float:left;
	width:660px;
}
.left .main {
	display:table;
	height:auto;
	width:100%;
}
.left .main .m {
	float:left;
	width:300px;
}
.left .main .m .v {
	width:100%;
	height:250px;
}
.left .main .m .txt {
	width:100%;
	text-align:center;
	margin:0px 0 10px 0;
}
.left .main .m .txt h1 {
	font-weight:bold;
	font-size:14px;
}
.left .main .r {
	float:right;
	border:1px solid #ccc;
	margin:0 0 0 15px;
	width:340px;
	height:280px;
}
.left .box {
	width:100%;
	clear:both;
	margin-top:10px;
}
.left .box .channel {
	width:96px;
	text-align:left;
	height:27px;
	margin:3px;
	-x-system-font:none;
	color:#fff;
	background:transparent url(../images/flash_tit_01.gif) no-repeat scroll left top;
	font-family:tahoma;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:25px;
	text-indent:9px;
}
.left .box .item {
	width:165px;
	float:left;
}
.left .box .item .pic {
	border:1px solid #ccc;
	padding:4px;
	width:132px;
	position:relative;
	background:#ffffff none repeat scroll 0 0;
}
.left .box .item .pic .inner {
	height:75px;
	overflow:hidden;
	width:120px;
}
.left .box .item .txt {
	overflow: auto;
    padding: 3px 3px 5px;
    position: relative;
    text-align: center;
    width: 130px;
}
.left .box .item .caption {
	margin:0 0 4px;
	max-height:36px;
	overflow:hidden;
	word-wrap:break-word;
	word-break:break-all;
}
.left .box .item ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
.left .box .item ul li {
	height:18px;
	margin:0 0 3px;
	overflow:hidden;
	white-space:nowrap;
}
.right {
	float:right;
	padding-right:5px;
	width:270px;
	height:500px;
}
.top_list {
	border:1px solid #E5E5E5;
	width: 100%;
	clear:both;
	height:auto;
	margin:0 0 15px 0px;
}
.box_title {
	padding:7px 0 0;
	clear:both;
	margin-bottom:10px;
}
.title {
	font-size:14px;
	font-weight:bold;
	margin:0 0 0 8px;
}
.top_list .top_info {
	padding:0 12px;
	display:block;
}
.billboard {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:0;
}
.billboard li.n1, .billboard li.n2, .billboard li.n3, .billboard li.n4, .billboard li.n5, .billboard li.n6, .billboard li.n7, .billboard li.n8, .billboard li.n9, .billboard li.n10 {
	padding:8px 0 7px 20px;
}
.billboard li.n1, .billboard li.n2, .billboard li.n3, .billboard li.n4, .billboard li.n5, .billboard li.n6, .billboard li.n7, .billboard li.n8, .billboard li.n9 {
	border-bottom:1px dashed #ccc;
}
.billboard li.n1 {
	background:transparent url(../images/1.gif) no-repeat scroll 0 8px;
}
.billboard li.n2 {
	background:transparent url(../images/2.gif) no-repeat scroll 0 8px;
}
.billboard li.n3 {
	background:transparent url(../images/3.gif) no-repeat scroll 0 8px;
}
.billboard li.n4 {
	background:transparent url(../images/4.gif) no-repeat scroll 0 8px;
}
.billboard li.n5 {
	background:transparent url(../images/5.gif) no-repeat scroll 0 8px;
}
.billboard li.n6 {
	background:transparent url(../images/6.gif) no-repeat scroll 0 8px;
}
.billboard li.n7 {
	background:transparent url(../images/7.gif) no-repeat scroll 0 8px;
}
.billboard li.n8 {
	background:transparent url(../images/8.gif) no-repeat scroll 0 8px;
}
.billboard li.n9 {
	background:transparent url(../images/9.gif) no-repeat scroll 0 8px;
}
.billboard li.n10 {
	background:transparent url(../images/10.gif) no-repeat scroll 0 8px;
}
.billboard li.n1 .n1d {
	line-height:18px;
	overflow:hidden;
	position:relative;
	display:table;
}
.billboard li.n1 .n1d .pic {
	border:1px solid #E5E5E5;
	float:left;
	padding:4px;
	position:relative;
	width:128px;
}
.billboard li.n1 .n1d .txt {
	margin:0 0 0 142px;
	height:90px;
}
.link_foot {
	margin:15px auto;
	width:960px;
}
.box_top {
	background:transparent url(../images/bg_link.gif) repeat-x scroll left -124px;
	height:10px;
	overflow:hidden;
}
.box_top_l {
	background:transparent url(../images/bg_img.gif) no-repeat scroll -77px -5px;
	display:block;
	float:left;
	height:10px;
	width:8px;
}
.box_top_r {
	background:transparent url(../images/bg_img.gif) no-repeat scroll -86px -5px;
	display:block;
	float:right;
	height:10px;
	width:8px;
}
.box_con {
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
	clear:both;
	height:100%;
	overflow:hidden;
	padding:5px;
}
.link_foot_ul {
	padding-left:20px;
}
.link_foot_ul li {
	float:left;
	font-size:14px;
	margin-right:8px;
}
.link_foot_ul li a, .link_foot_ul li a:visited {
	color:#656565;
}
.box_foot {
	background:transparent url(../images/bg_link.gif) repeat-x scroll left -115px;
	height:10px;
	overflow:hidden;
}
.box_foot_l {
	background:transparent url(../images/bg_img.gif) no-repeat scroll -77px -16px;
	display:block;
	float:left;
	height:10px;
	width:8px;
}
.box_foot_r {
	background:transparent url(../images/bg_img.gif) no-repeat scroll -86px -16px;
	display:block;
	float:right;
	height:10px;
	width:8px;
}
.foot {
	width: 100%;
	height:150px;
	margin-top: 7px;
	padding-top: 8px;
	line-height: 27px;
}
.list {
	width:830px;
}
.list_r_ad {
	width:120px;
	height:600px;
}
.videoClass {
	border-color:#C6C6C6;
	color:#909090;
	border-style:solid;
	border-width:1px 0;
	height:20px;
	margin-top:5px;
	padding:5px 0 0 0;
}
.videoClass .from {
	float:left;
}
.videoClass .more {
	float:right;
}
.play {
	width:610px;
}
.videoName {
	float:left;
	font-size:14px;
	font-weight:bold;
	width:100%;
	height:30px;
}
.bigTitle {
	-x-system-font:none;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:18px;
}
.playflash {
	width:610px;
	height:500px;
	float:left;
}
.center {
	float:left;
	margin-left:15px;
	width:300px;
}
.box_border {
	border:1px solid #E5E5E5;
	height:auto;
	/*padding:9px;*/


	margin-bottom:15px;
}
.videoInfo {
	clear:both;
	/*height:100%;*/


	min-height:50px;
	margin-top:5px;
	padding:0;
}
.videoInfo li {
	padding-top:2px;
	clear:both;
}
.f_l {
	float:left;
	margin-left:3px;
}
.videos {
	left:-10px;
	overflow:hidden;
	padding:0;
	position:relative;
	top:0;
	width:310px !important;
	width:100%;
	z-index:1;
}
.videos .video_s {
	float:left;
	margin:0 10px 5px !important;
	margin:0 8px 5px;
	width:80px;
	left:0;
	position:relative;
	top:0;
	z-index:0;
	padding:0;
}
.video_s .videoImg {
	height:62px;
	width:80px;
}
.video_s h1 {
	overflow:hidden;
	font-size:12px;
	width:80px;
}
.video_s .playStat {
	overflow:hidden;
	position:relative;
	white-space:nowrap;
	width:80px;
	z-index:1;
}
.video_s .playStat .num {
	font-size:10px;
}
